.containar{
    border: 1px solid black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #043873;
    padding: 30px;
    align-items: center;
    border: 1px solid black;

}

.img_div{
    display: flex;
    gap: 10px;  
    color: whitesmoke;
    font-weight: 600;
    font-size: 18px;

}
.two{
    display: flex;
    gap: 60px;
align-items: center;
}
.ul_div{
    display: flex;
    gap: 30px;
    /* border: 1px solid black; */
    color: whitesmoke;
    font-weight: 300;
    font-size: 16px;
}
.lili:hover{
    color: #000;
    transition: 0.5s;
}
.btn_div{
    display: flex;
    gap: 20px;
    color: whitesmoke;
    /* border: 1px solid black; */

}
.btn1{
    background-color: yellow;
    color: rgb(72, 72, 255);
    padding: 10px 26px;
    border-radius: 5px;
    /* font-size: large; */
    font-size: 15px;
    font-weight: 600;
}
.btn2{
    background-color: rgb(72, 72, 255);
    padding: 10px 26px;
    border-radius: 5px;
    /* font-size: large; */
    font-size: 15px;
    font-weight: 600;

}
.btn1:hover{
    color: #000;

}
.btn2:hover{
    color: #000;

}
.hamburger {
    font-size: 40px;
    color: whitesmoke;
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
 
@media(max-width: 1130px){
    .ul_div {
        display: none; 
      }
 
    .hamburger{
        display: block;
    }

}
@media(max-width: 760px){
    .btn_div{
        display: none;
    }
}